<a class="pure-u-1-4 pure-u-md-1-3 pure-u-lg-1-3" href="/61215-quantum-drops.html">
    <img class="pure-img listImg" alt="These Quantum Droplets Are the Most Dilute Liquids in the Known Universe" src="https://img.purch.com/rc/360x240/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzA5Ny8zNTQvb3JpZ2luYWwvMTU4MzkwX3dlYi5qcGc=">

</a>
<div class="pure-u-3-4 pure-u-md-2-3 pure-u-lg-2-3 list-text">
    <h2>
        <a href="#"> Droplets Are the Most Dilute Liquids in the Known Universe</a>
    </h2>

    <div class="date-posted">December 17, 2017 | Article  </div>

    <div class="rating stars-"></div>
    <p class="mod-copy">
        A new form of liquid droplet, formed out of potassium "super-atoms," demonstrates strange and powerful quantum effects.
        <br><a class="read-url" href="#">Read More <i class="fa fa-angle-double-right"></i></a>
    </p>
</div>