<ngb-carousel>
    <ng-template ngbSlide>
      <img class="carousel-img" src="../assets/images/technology.jpg" 
      alt="Random first slide">
      <div class="carousel-caption">
        <h3>Technology and Business</h3>
        <p>Evolve and manage using advance technology solution for your business growth.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-img" src="../assets/images/architechture2_corousal.jpg" 
      alt="Random second slide">
      <div class="carousel-caption">
        <h3 class="font-black">Architecture</h3>
        <p class="font-black">Experience is witnessing the solution complexity over the period of time.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="carousel-img" src="../assets/images/reach-us.jpg" 
      alt="Random third slide">
      <div class="carousel-caption">
        <h3 class="font-black">Reach US</h3>
        <p class="font-black">Big projects start with one liner problem statement - share with us.</p>
      </div>
    </ng-template>
  </ngb-carousel>