<div class="row">
  <div class="col-xl cut-to-cut">
    <ngb-carousel>
        <ng-template ngbSlide>
          <img class="carousel-img" src="../assets/images/technology.jpg" 
          alt="Random first slide">
          <div class="carousel-caption">
            <h3>Technology and Business</h3>
            <p>Evolve and manage using advance technology solution for your business growth.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carousel-img" src="../assets/images/architechture2_corousal.jpg" 
          alt="Random second slide">
          <div class="carousel-caption">
            <h3 class="font-black">Architecture</h3>
            <p class="font-black">Experience is witnessing the solution complexity over the period of time.</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="carousel-img" src="../assets/images/reach-us.jpg" 
          alt="Random third slide">
          <div class="carousel-caption">
            <h3 class="font-black">Reach US</h3>
            <p class="font-black">Big projects start with one liner problem statement - share with us.</p>
          </div>
        </ng-template>
      </ngb-carousel>
  </div>
</div>
<span class="black"></span>
<div class="row">
    <div class="col-xl cut-to-cut">
      <h2 class="">Turn Your Ideas Into Action</h2>
    </div>
</div>
<div class="row">
  <div class="col-sm cut-to-cut ">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><img src="../assets/images/pin-icon.png"/> Marketing </h5>
            <p class="card-text">Provide digitized touch to your business. We have industry experts in digital marketing</p>
        </div>
    </div>
    </div>
  <div class="col-sm cut-to-cut">      
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><img src="../assets/images/pin-icon.png"/>Data Processing</h5>
            <p class="card-text">Data Processing helps to reduce overall management cost with quick turnarounds</p>
        </div>
      </div>
    </div>
    <div class="col-sm cut-to-cut">
      <div class="card">   
        <div class="card-body">
            <h5 class="card-title"><img src="../assets/images/pin-icon.png"/>Mobile</h5>
            <p class="card-text">Be always connected with your customers and targets with mobile solutions.</p>
        </div>
    </div>
  </div>
</div>
<span class="black"></span>
<span class="black"></span>
<span class="black"></span>
<div class="row">
  <div class="col-sm cut-to-cut">
    <div class="card">
      <img class="card-img-top card-img" src="../assets/images/capture.jpeg" alt="Capture your data"/>
      <div class="card-body">
          <h5 class="card-title">Capture your data</h5>
          <p class="card-text">Raw information is capturing the data needed for business.</p>
      </div>
    </div>
  </div>
  <div class="col-sm cut-to-cut">
      <div class="card">
        <img class="card-img-top card-img" src="../assets/images/analyze1.jpeg" alt="Capture your data"/>
        <div class="card-body">
            <h5 class="card-title">Analysis</h5>
            <p class="card-text">Analyze the trend and factors that are never considered.</p>
        </div>
      </div>
    </div><div class="col-sm cut-to-cut">
        <div class="card">
          <img class="card-img-top card-img" src="../assets/images/process.jpeg" alt="Capture your data"/>
          <div class="card-body">
              <h5 class="card-title">Process</h5>
              <p class="card-text">Take action on your Analysis. Process the data into corrective action.</p>
          </div>
        </div>
      </div>
</div>